﻿@model IEnumerable<IngresosGastos.Models.IngresosGastosJVP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create","IngresosGastos")" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @if (item.EsIngreso)
                {<p class="text-primary">Ingreso</p>}
                else
                {<p class="text-danger">Gasto</p>}

                @Html.DisplayFor(modelItem => item.EsIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<div class="form-group row">
    <div class="col-sm-1">
        <label class="col-form-label text-primary">Total Ingresos</label>
    </div>
    <div class="col-sm-2 text-right text-primary">
        <label class="col-form-label">@ViewBag.Ingresos</label>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-1">
        <label class="col-form-label text-primary">Total Gastos</label>
    </div>
    <div class="col-sm-2 text-right text-primary">
        <label class="col-form-label">@ViewBag.Gastos</label>
    </div>
</div>


<div class="form-group row">
    <div class="col-sm-1">
        <label class="col-form-label text-primary">Total Neto</label>
    </div>
    <div class="col-sm-2 text-right text-primary">
        <label class="col-form-label">@ViewBag.Neto</label>
    </div>
</div>
